@font-face {
  font-family: SpaceMono;
  src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --green-400: hsl(172, 67%, 45%);
  --green-900: hsl(183, 100%, 15%);

  --gray-500: hsl(186, 14%, 43%);
  --gray-400: hsl(184, 14%, 56%);
  --gray-200: hsl(185, 41%, 84%);
  --gray-50: hsl(189, 47%, 97%);
  
  --white: hsl(0, 100%, 100%);

  --red: rgb(209, 102, 102);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: clamp(20px, calc(24 / 375 * 100vw), 36px); */
  font-size: 24px;
  font-family: SpaceMono;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
}